body {
    background-color: #FFF;
    margin: 0 auto;
  }
  
  header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    /* When an element’s position is set to ABSOLUTE,
    all other elements on the page will ignore the element
    and act like it is not present on the page.
    position: absolute; */
    
    /* We can FIX an element to a specific position on the page (regardless of user scrolling)
    by setting its position to fixed,
    and accompanying it with the familiar offset properties top, bottom, left, and right. 
    This technique is often used for navigation bars on a web page.
    */
    position: fixed;
    width: 100%;

    /* The Z-INDEX property 
    How far 'back' or 'forward' overlapping elements appear on a page. */
    z-index: 10;
  }
  
  ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    /* display: INLINE BLOCK
    Inline-block elements can appear next to each other
    and we can specify their dimensions using the width and height properties.
    */
    display: inline-block;
    width: 80px;
  }
  
  li:hover {
    color: #DBE9EE;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
  }
  
  h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  footer {
    background-color: #DBE9EE;
    text-align: center;
    height: 100px;
  }
  
  .welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    /* POSITION RELATIVE to TOP, BOTTOM, LEFT or RIGHT. */
    position: relative;
    top: 50px;
  }
  
  .question {
    text-align: center;
    /* The STICKY value is another position value that keeps an element in the document flow as the user scrolls, 
    but sticks to a specified position as the page is scrolled further.  */
    position: sticky;
    top: 40px;
    /* clear: left; */
  }
  
  .answer {
    border: 1px solid #466995;
    margin: 20px;
    /* DISPLAY controls the block level of an element, 
    an INLINE BLOCK element does not start a new line and can be sized using the height and width properties*/
    display: inline-block;
    /* float: left: */
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
  }


/* The default position of an element can be changed by setting its position property.
The position property can take one of five values:

static - the default value (it does not need to be specified)
relative
absolute
fixed
sticky */


/* Review: Layout

The POSITION PROPERTY allows you to specify the position of an element.
When set to RELATIVE, an element’s position is relative to its default position on the page.
When set to ABSOLUTE, an element’s position is relative to its closest positioned parent element.
It can be pinned to any part of the web page, but the element will still move with the rest of the document when the page is scrolled.
When set to FIXED, an element’s position can be pinned to any part of the web page.
The element will remain in view no matter what.
When set to STICKY, an element can stick to a defined offset position when the user scrolls its parent container.

The Z-INDEX of an element specifies how far back or how far forward an element appears on the page when it overlaps other elements.

The DISPLAY PROPERTY allows you to control how an element flows vertically and horizontally in a document.
INLINE elements take up as little space as possible, and they cannot have manually adjusted width or height.
BLOCK elements take up the width of their container and can have manually adjusted heights.
INLINE-BLOCK elements can have set width and height, but they can also appear next to each other and do not take up their entire container width.

The FLOAT property can move elements as far left or as far right as possible on a web page.
You can CLEAR an element’s left or right side (or both) using the clear property.
When combined with an understanding of the box model, positioning can create visually appealing web pages.
*/