/* the universal selector selects all elements of any type*/
* {
    border: 1px solid red;
  }
  
  /* the type selector selects all elements of a given type, element type p */
  p {
    color: green;
  }
  
   /* the type selector selects all elements of a given type, element type h1 */
  h1 {
    color: maroon;
  }
  
  /* class */
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  /* ID */
  #article-title {
    font-family: cursive;
  }
  
  /*  attribute selector to select the <a> element with an href attribute value containing ‘florence’ */
  a[href*='florence'] {
    color: lightgreen;
  }
  
  a[href*='beijing'] {
    color: lightblue;
  }
  
  a[href*='seoul'] {
    color: lightpink;
  }

  /* pseudo-class */
  a:hover {
    color: darkorange;
  }